.menu-container {
    color: var(--color-lighter);
}

.menu-container > a {
    color: var(--color-lighter);
    text-decoration: none;
    margin: 0 0.5rem 0 0.5rem;
}

.menu-option {
    font-size: var(--font-size-small);
}

.menu-option:hover {
    color: var(--color2);
}
