.select-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Select {
    background-color: var(--color-lighter);

    border: none;
    box-shadow: inset 0 0 1rem rgb(0, 0, 0, 0.1);

    padding: 0.5rem;

    width: 7rem;
    height: 2rem;
}
