.footer-container {
    background-color: var(--color1);
    color: var(--color3);

    /* height: 10rem; */

    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-info-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem 0 0 0;
}

.footer-left,
.footer-mid,
.footer-right {
    width: 100%;
    height: fit-content;

    padding: 1rem;

    display: flex;
    flex-direction: column;
}

.footer-left {
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-mid {
    justify-content: center;
    align-items: center;
}

.footer-right {
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-title {
    color: var(--color3);
    text-decoration: none;
}

.footer-text {
    text-decoration: none;
    color: var(--color3);
    font-size: 1.2rem;
    font-weight: 500;
}
