.lobby-container {
    background-color: var(--color-lighter);

    width: 100%;
    height: 78vh;

    padding: 1rem 0 0 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.lobby-body {
    width: 100%;
    height: 100%;

    /* border: 10px solid black; */

    display: flex;
    flex-direction: column;
}

.lobby-upper-body {
    width: 100%;

    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.lobby-search-text {
    font-size: 1.5rem;
    padding: 0 1rem 0 0;
}

.lobby-search-input {
    width: 20rem;
    width: 100%;
    height: 3rem;

    padding: 1rem;

    text-align: left;
    font-size: 1rem;
}
