.Button {
	cursor: pointer;
	background-color: var(--color2);
	color: var(--color-lighter);

	font-weight: 900;

	padding: 0.8rem;

	/* border: 1px solid var(--color-lighter); */
	border-radius: 0.3rem;
	box-shadow: 2px 2px 1px var(--color2-darker);

	font-size: var(--font-size-small);
	font-weight: 900;

	text-decoration: none;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.Button:hover {
	background-color: var(--color2-darker);
}

@media screen and (max-width: 576px) {
	.Button {
		padding: 0.6rem;

		border: 1px solid var(--color-lighter);
		border-radius: 0.3rem;

		font-size: var(--font-size-smallest);
		font-weight: 0;

		text-decoration: none;
	}
}
