.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Button {
    cursor: pointer;
    background-color: var(--color2);
    color: var(--color-lighter);

    padding: 0.8rem;
    margin: 0 1rem 0 0.5rem;

    border: 1px solid var(--color-lighter);
    border-radius: 0.3rem;

    font-size: var(--font-size-small);
    font-weight: 0;
    text-shadow: 0px 0px 2px rgb(0, 0, 0, 0.2);

    text-decoration: none;
}
