.spinner {
	position: relative;

	width: 100px;
	height: 100px;

	margin: 5rem;

	border-radius: 10%;
	border-bottom-color: 10px solid var(--color2);
	animation: 2s linear infinite spin;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.spinner > * {
	color: var(--color-dark);
	font-size: 2rem;
}

@keyframes spin {
	0% {
		border-radius: 0%;
		background-color: var(--color2);
		transform: translate3d(-50%, -50%, 0) scale(100%) rotate(0deg);
	}

	50% {
		border-radius: 100%;
		background-color: var(--color-lighter);
		transform: translate3d(-50%, -50%, 0) scale(25%) rotate(180deg);
	}

	100% {
		border-radius: 0%;
		background-color: var(--color2);
		transform: translate3d(-50%, -50%, 0) scale(100%) rotate(360deg);
	}
}
