.LinkButton {
	background-color: var(--color2);
	color: var(--color-lighter);

	font-weight: 900;

	padding: 0.8rem;
	margin: 0 1rem 0 0.5rem;

	border-radius: 0.3rem;
	box-shadow: 2px 2px 1px var(--color2-darker);

	font-size: var(--font-size-small);
	font-weight: 0;

	text-decoration: none;
}

.LinkButton:hover {
	background-color: var(--color2-darker);
	color: var(--color-lighter);
}

@media screen and (max-width: 576px) {
	.LinkButton {
		padding: 0.6rem;

		border-radius: 0.3rem;

		font-size: var(--font-size-smallest);
		font-weight: 0;

		text-decoration: none;
	}
}
