.Navbar {
    color: var(--color-lighter);
}

.Navbar > a {
    color: var(--color-lighter);
    text-decoration: none;
    margin: 0 0.5rem 0 0.5rem;
}

.navbar-option {
    font-size: var(--font-size-small);
}

.navbar-option:hover {
    color: var(--color2);
}
